@import url('https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mukta:wght@200;300;400;500;600;700;800&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;
* {
  scroll-behavior: smooth !important;
}
.poppins-thin {
  font-family: "Poppins", sans-serif;
  font-weight: 100;
  font-style: normal;
}

.poppins-extralight {
  font-family: "Poppins", sans-serif;
  font-weight: 200;
  font-style: normal;
}

.poppins-light {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.poppins-regular {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.poppins-medium {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.poppins-semibold {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: normal;
}

.poppins-bold {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.poppins-extrabold {
  font-family: "Poppins", sans-serif;
  font-weight: 800;
  font-style: normal;
}

.poppins-black {
  font-family: "Poppins", sans-serif;
  font-weight: 900;
  font-style: normal;
}

.figtree-thin {
  font-family: "Figtree", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.figtree-extralight {
  font-family: "Figtree", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.figtree-light {
  font-family: "Figtree", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.figtree-regular {
  font-family: "Figtree", sans-serif;
  font-weight: 600;
  font-style: normal;
}

.figtree-medium {
  font-family: "Figtree", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.figtree-semibold {
  font-family: "Figtree", sans-serif;
  font-weight: 800;
  font-style: normal;
}

.figtree-bold {
  font-family: "Figtree", sans-serif;
  font-weight: 900;
  font-style: normal;
}

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  background-position: center;
  background-size: cover;
}

.swiper-slide img {
  display: block;
  width: 100%;
}

.swiper-button-next, .swiper-button-prev {
  color: #fefefe;
}

.swiper-button-next:hover, .swiper-button-prev:hover {
  color: #92e3ef;
}

.swiper-pagination-bullet {
  background-color: #92e3ef;
}

.mukta-extralight {
  font-family: "Mukta", sans-serif;
  font-weight: 200;
  font-style: normal;
}

.mukta-light {
  font-family: "Mukta", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.mukta-regular {
  font-family: "Mukta", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.mukta-medium {
  font-family: "Mukta", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.mukta-semibold {
  font-family: "Mukta", sans-serif;
  font-weight: 600;
  font-style: normal;
}

.mukta-bold {
  font-family: "Mukta", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.mukta-extrabold {
  font-family: "Mukta", sans-serif;
  font-weight: 800;
  font-style: normal;
}


@media (max-width: 640px) {
  .swiper-button-next, .swiper-button-prev {
    opacity: 0;
  }
}